<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->

    <script>
      window.location = '/shop'
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" integrity="sha384-PJsj/BTMqILvmcej7ulplguok8ag4xFTPryRq8xevL7eBYSmpXKcbNVuy+P0RMgq" crossorigin="anonymous">

    <title>webcart</title>
  </head>
  <body>
    <h2 class="my-3 mx-4" style="color: darkgreen;"># Welcome to webcart.com !!!</h2>
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <!-- <svg class="bi mt-4 mb-3"></svg> -->
          <h1 class="text-danger"><b>Web-Cart</b></h1>
          <h2 class="text-body-emphasis">-- Here we Go --</h2>
          <p class="col-lg-8 mx-auto fs-5 text-muted">
            We offer many features. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus laudantium dolorum aliquid similique modi doloremque sapiente! Dolorum rem repellendus cupiditate provident ducimus velit architecto cumque dicta laborum nisi, iure inventore quibusdam mollitia quasi et minima placeat est? Vel eaque quidem adipisci ratione numquam dicta, reiciendis a ipsum hic ipsa labore asperiores ipsam accusantium dolore, rem quas.
          </p>
          <p></p>
          <p class="col-lg-8 mx-auto fs-5 text-primary">blog and shops are two of them. try them out!</p>
          <div class="d-inline-flex gap-2 mb-5">
            <button class="d-inline-flex align-items-center btn btn-outline-success btn-lg px-4 rounded-pill" type="button" onclick="document.location='/shop'">
              Go to Shop
            </button>
            <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button" onclick="document.location='/blog'">
              Go to Blog
            </button>
          </div>
        </div>
      </div>





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    -->
  </body>
</html>